@model DugunDavet.Models.Cevap
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CevapFormu</title>
    <link href="/css/styles.css" rel="stylesheet" />

</head>
<body>

    <form asp-action="CevapFormu" method="post">
        <div asp-validation-summary="All"></div>      
        <div>
            <label asp-for="Ad">Adınız:</label>
            <input asp-for="Ad" />
        </div>
        <div>
            <label asp-for="Soyad">Soyadınız:</label>
            <input asp-for="Soyad" />
        </div>
        <div>
            <label asp-for="Email">Mailiniz:</label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Telefon">Telefonunuz:</label>
            <input asp-for="Telefon" />
        </div>

        <div>
            <label>Düğüne Gelecek Misiniz?</label>
            <select asp-for="DuguneGelecekMi">
                <option value="Lütfen Bir Seçim Yapınız!"></option>
                <option value="true">Evet</option>
                <option value="false">Hayır</option>
            </select>
        </div>
        <button type="submit">Cevab Gönder</button>




    </form>


</body>
</html>
