@{
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Düğün Davet Uygulamasına Hoşgeldiniz</p>


    İsmail GÜRSOY

    <a asp-action="CevapFormu">Cevap Formu için Tıklayınız</a>
</div>
