@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Düğün Davet Uygulamasına Hoşgeldiniz</p>


        Melike Aslan

        <a class="btn btn-primary" asp-action="CevapFormu">Cevap Formu için Tıklayınız</a>
    </div>

</body>

</html>



